@model IEnumerable<BARDSports.Models.AdvertModel>

@{
    ViewBag.Title = "Index";
}

<h2>Advert</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.League.LeagueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.League.LeagueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvertId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvertId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvertId })
        </td>
    </tr>
}

</table>
